/*--------------------------------------CSS Reset---------------------------------------*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    user-select: none;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

html, body {
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: self-end;
    overflow: hidden;
    background: #388ba2;
}

/*----------------------------------------Fonts-----------------------------------------*/
.username, .hp-bar::after, .bollard::before, .proceed-btn {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .12rem;
}

.secret.card, .hero-card {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
}

@font-face {
  font-family: "TitleFont";
  src: url("./fonts/title-font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*----------------------------------------Errors----------------------------------------*/
#error-msg {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-size:24px;
    color:#e2dcea;
    background:#282729;
}

/*----------------------------------------Tiles-----------------------------------------*/
:root {
    --tile-w: 3rem;
    --p1-col: #1f80da;
    --p2-col: #be2f0e;
}

#board {
    position: relative;
    width: 90vmin;
    height: 85vmin;
    max-width: 100%;
    max-height: 100%;
}

.tile {
    --tile-scl: 1.1;
    position: absolute;
    width:  var(--tile-w);
    height: var(--tile-w);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.tile-img {
    position: absolute;
    width: calc(100% * var(--tile-scl));
    height: calc(100% * var(--tile-scl));
}

.tile > .tile-img {
    background: url(./assets/Tile.svg) no-repeat center/contain;
    pointer-events: none;
}

.tile:hover {
    transform: scale(1.2)
}

.tile.start {
    --tile-scl: 1.75;
    background: none;
}

.tile.start.player1 > .tile-img {
    background: url("./assets/Start-1.svg") no-repeat center/contain;
    transform: translateX(-.5rem) translateY(-.5rem);
}

.tile.start.player2 > .tile-img {
    background: url("./assets/Start-2.svg") no-repeat center/contain;
    transform: translateX(.9rem) translateY(-.6rem);
}

.tile.heal, .tile.flag, .tile.secret, .tile.action {
    --tile-scl: 1;
    transform: rotate(var(--tile-rotation));
}

/* Until a sprite exists: */
.tile.heal > .tile-img, .tile.flag > .tile-img, .tile.secret > .tile-img, .tile.action > .tile-img { visibility: hidden; }

.tile.flag {
    background: rgb(247, 213, 48);
}

.tile.damage {
    --tile-scl: 1.2;
}

.tile.damage > .tile-img {
    background: url("./assets/Damage.svg") no-repeat center/contain;
    transform: translateY(-.4rem);
}

.tile.trap {
    --tile-scl: 1.3;
}

.tile.trap > .tile-img {
    background: url("./assets/Trap.svg") no-repeat center/contain;
}

.tile.heal {
    background: #56d243;
}

.tile.heal::before {
    content: "+1";
    position: absolute;
    font-size: 1.5em;
    transform: rotate(calc(-1 * var(--tile-rotation)));
}

.tile.action {
    color: #f4d619;
    background: #0c0a2d;
}

.tile.secret {
    color: #af28f8;
    background: #2a162e;
}

.tile.action::before, .tile.secret::before {
    content: "?";
    position: absolute;
    font-size: calc(var(--tile-w) * 0.6);
    transform: rotate(calc(-1 * var(--tile-rotation)));
}

/*------------------------------------Hovering stuff------------------------------------*/
.tile.destination {
    filter: drop-shadow(0 0 5px blanchedalmond);
    cursor: pointer;
    z-index: 1;
}

.tile.destination::after, .holding-flag::after {
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    animation: bob infinite 1.5s ease-in-out;
    z-index: 4;
}

.holding-flag::after {
    position: absolute;
    --tx: 22%;
    --ty: -65%;
    width:  calc(var(--tile-w) * 1.2);
    height: calc(var(--tile-w) * 1.2);
}

.tile.holding-flag   { z-index: 1; }
.sprite.holding-flag { z-index: 4; }

.sprite.holding-flag::after {
    --tx: 26%;
    --ty: -100%;
}

.tile.holding-flag::after {
    background-image: url("./assets/flag.svg");
}

.player1.holding-flag::after {
    background-image: url("./assets/flag_1.svg");
}

.player2.holding-flag::after {
    background-image: url("./assets/flag_2.svg");
}

.tile.destination:not(.holding-flag)::after {
    --tx: 0%;
    --ty: -100%;
    background-image: url("./assets/destination.svg");
    width:  calc(var(--tile-w) * 0.5);
    height: calc(var(--tile-w) * 0.5);
}

.tile.destination.holding-flag {
    background: blanchedalmond;
}

.tile.destination:not(.holding-flag):hover::after {
    --ty: -120%;
}

.tile.destination.holding-flag:hover::after {
    --ty: -80%;
}

@keyframes bob {
    0%, 100% {
        transform: rotate(calc(-1 * var(--tile-rotation))) translateX(var(--tx)) translateY(var(--ty)) translateZ(1px);
    }
    50% {
        transform: rotate(calc(-1 * var(--tile-rotation))) translateX(var(--tx)) translateY(calc(var(--ty) + 20%)) translateZ(1px);
    }
}

/*------------------------------------Player sprites------------------------------------*/
.player1 {
    background-color: var(--p1-col);
}

.player2 {
    background-color: var(--p2-col);
}

.sprite {
    --tile-rotation: 0rad; /* Needed so the flag can bob */
    position: absolute;
    aspect-ratio: 1 / 1;
    z-index: 3;
    transition: top 0.25s ease, left 0.25s ease;
    pointer-events: none;
    transform: translateX(-7%) translateY(-30%);
}

.sprite.hop {
    --hop-height: calc(var(--tile-w) * 0.3);
    animation: hop .3s ease;
}

@keyframes hop {
  0%   { transform: translateX(-7%) translateY(-30%); }
  50%  { transform: translateX(-7%) translateY(calc(-30% - var(--hop-height))); }
  100% { transform: translateX(-7%) translateY(-30%); }
}

.sprite.Ganjalf {
    width: calc(var(--tile-w) * 1.3);
}

.sprite.Ganjalf.player1 { background: url("./assets/ganjalf-1.svg") no-repeat center/contain; }
.sprite.Ganjalf.player2 { background: url("./assets/ganjalf-2.svg") no-repeat center/contain; }

.sprite.Babatunde {
    width: calc(var(--tile-w) * 1.2);
}

.sprite.Babatunde.player1 { background: url("./assets/Babatunde-1.svg") no-repeat center/contain; }
.sprite.Babatunde.player2 { background: url("./assets/Babatunde-2.svg") no-repeat center/contain; }

.sprite.Colorado {
    width: calc(var(--tile-w) * 1.3);
}

.sprite.Colorado.player1 { background: url("./assets/Colorado-1.svg") no-repeat center/contain; }
.sprite.Colorado.player2 { background: url("./assets/Colorado-2.svg") no-repeat center/contain; }

/*-----------------------------------Player Info Cards----------------------------------*/
.info {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    font-size: large;
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0 .25rem .25rem 0;
}

.img-and-secrets {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.image, .secret.card-holder:empty {
    border-left: 4px solid #00000030;
    border-top: 4px solid #00000020;
}

.image {
    width: 5rem;
    height: 5rem;
    flex: 0 0 5rem;
    padding: .5rem;
    background: rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
}

.secrets {
    display: flex;
    flex-direction: row;
    flex: 1;
    border: 2px solid rgba(255, 255, 255, 0.25);
    padding: .5rem;
    gap: .5rem;
}

.card-holder.secret, .card.secret {
    width: 6rem;
    height: 9rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.username {
    background-color: #e2dcea;
    color: #0c0a2d;
    border-radius: .25rem;
    padding-inline: 1rem;
    height: 2rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    align-self: stretch;
}

.hp-and-flags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hp-bar {
    --hp: 5;
    position: relative;
    width: 10rem;
    height: 1.5rem;
    border-radius: .5rem;
    background: rgba(0, 0, 0, 0.3);
    padding: .25rem;
}

.hp-bar::before {
    content: "";
    position: absolute;
    display: block;
    width: calc(1.9rem * var(--hp));
    height: 1rem;
    border-radius: .3rem;
    background: repeating-linear-gradient(
        to right,
        rgba(241, 193, 60) 0,
        rgba(241, 193, 60) 1.58rem,
        transparent 1.58rem,
        transparent 1.98rem);
    
    transition: width .25s ease;
}

.hp-bar::after {
    content: "HP";
    position: absolute;
    color: rgb(241, 193, 60);
    bottom: -5%;
    line-height: 1.5rem;
}

.info.player1 {
    left: 0;
    margin-left: 0;
}

.info.player1 .hp-bar::after {
    right: -20%;
}

.info.player2 {
    right: 0;
    text-align: right;
    margin-right: 0;
    border-radius: .25rem 0 0 .25rem;
}

.info.player2 .hp-bar::after {
    left: -18%;
}

.info.player2 .hp-bar::before {
    right: .25rem;
    background: repeating-linear-gradient(
        to left,
        rgba(241, 193, 60) 0,
        rgba(241, 193, 60) 1.58rem,
        transparent 1.58rem,
        transparent 1.98rem);
}

.flags-holder {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.flag-token {
    width: 1rem;
    aspect-ratio: 1 / 1;
    background: #00000020;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.flag-token.full {
    background: rgb(247, 213, 48);
}

.proceed-btn {
    visibility: hidden;
    position: fixed;
    top: 20rem;
    padding: 1rem;
    border-radius: .25rem;
    background-color: rgb(43, 160, 43);
    color: rgb(245, 245, 245);
    transition: all 0.25s ease;
    border: none;
}

.proceed-btn:hover {
    transform: scale(1.1);
    background-color: rgb(58, 175, 58);
}

.proceed-btn:active {
    transform: scale(0.9);
    background-color: rgb(87, 205, 87);
}

.proceed-btn.player1 {
    left: 1rem;
}

.proceed-btn.player2 {
    right: 1rem;
}

/*----------------------------------------Secrets---------------------------------------*/
.secret.card {
    color: #af28f8;
    display: flex;
    justify-content: flex-start;
    gap: .5rem;
    flex-direction: column;
    padding: .25rem;
    outline: 1px solid #af28f8;
    outline-offset: -.25rem;
    text-align: left;
    transition: transform .2s ease;
}

.secret.card[data-is-visible = "true"] {
    background: linear-gradient(to bottom, #370e5b, #2a162e);
    visibility: visible; /* Just to be sure. */
    cursor: pointer;
}

.secret.card[data-is-visible = "false"] {
    background: #372b39;
    box-shadow: inset 0 0 1rem .5rem rgba(255, 255, 255, 0.2);
}

.secret.card[data-is-visible = "true"]:hover, .secret.card.can-respond {
    transform: scale(1.2) translateY(1rem);
}

.secret.card[data-is-visible = "false"] > .secret-name { visibility: hidden; }
.secret.card[data-is-visible = "false"] > .secret-description { visibility: hidden; }

.secret-name {
    font-weight: 500;
    text-align: center;
    background: #ffffff26;
    width: 100%;
}

.secret-description {
    font-size: .6rem;
    word-break: break-word;
    hyphens: auto;
    overflow-wrap: break-word;
    margin-inline: .25rem;
}

.bollard {
    position: absolute;
    background-color: transparent; /* Override style set by .player classes */
    background-image: url("./assets/bollard.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: var(--tile-w);
    height: calc(var(--tile-w) * 1.54);
    transform: translateX(5%) translateY(-25%);
    z-index: 2;
    pointer-events: none;
}

.bollard::before {
    content: attr(data-turns-left);
    position: absolute;
    left: 40%;
    top: 30%;
    font-weight: bold;
}

.bollard.player1::before { color: var(--p1-col); }
.bollard.player2::before { color: var(--p2-col); }

/*--------------------------------------Overlays----------------------------------------*/
.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'TitleFont', sans-serif;
    pointer-events: all;
    background: rgba(255, 255, 255, 0.6);
    z-index: 999 !important;
}

.banner.win, .banner.lose, .banner.action, .banner.combat, .banner.select-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner.win::after, .banner.lose::after {
    font-size: 10rem;
    text-align: center;
    color: #de4415;
}

.banner.win::after {
    content: "You Win!";
}

.banner.lose::after {
    content: "You Lose...";
}

.banner.action::before {
    font-size: 2rem;
    color: #161516;
    content: "You got hit by:"
}

.banner.select-hero {
    background: #64bad2;
    gap: 2rem;
}

.banner.select-hero::before {
    position: absolute;
    top: 2rem;
    font-size: 5rem;
    text-align: center;
    color: #de4415;
    content: "Welcome to Goolag";
    text-wrap-mode: nowrap;
}

.banner.select-hero::after {
    position: absolute;
    top: 10rem;
    font-size: 2rem;
    text-align: center;
    color: #49261b;
    content: "Choose your hero:";
}

.banner.select-hero > .hero-carousel {
    width: 20rem;
    height: 21rem;
    display: flex;
    flex-direction: row;
    margin-top: 13rem;
    justify-content: space-between;
    align-items: center;
}

.banner.select-hero > .username-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.banner.select-hero .username {
    width: 30rem;
    height: 3rem;
    outline: none;
    border: none;
    box-shadow: .25rem .25rem 0 .5rem #3b1b0a;
    align-self: center;
    font-size: 1.5rem;
}

.ready-btn {
    color: whitesmoke;
    font-weight: bold;
    background: #57c857;
    width: 3rem;
    font-size: 1.5rem;
    text-align: center;
    aspect-ratio: 1 / 1;
    border-radius: 1.5rem;
    line-height: 3rem;
    box-shadow: -.25rem .25rem 0 .5rem #3b1b0a;
    transition: all 0.2s ease;
    cursor: pointer;
}

.ready-btn:not(.pressed):hover {
    background: #73e973;
}

.ready-btn:not(.pressed):active {
    transform: scale(0.9);
}

.ready-btn.pressed {
    background: #3a6b3a;
    color: #b4b4b4;
    pointer-events: none;
    cursor: auto;
}

.hero-carousel > .scroll {
    background: url("./assets/destination.svg") no-repeat center/contain;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.hero-carousel > .scroll.disabled {
    opacity: .5;
    cursor: auto;
}

@keyframes scroll-left {
    0%, 100% {
        transform: rotate(90deg);
    }

    50% {
        transform: translateX(-.5rem) rotate(90deg);
    }
}

@keyframes scroll-right {
    0%, 100% {
        transform: rotate(-90deg);
    }

    50% {
        transform: translateX(.5rem) rotate(-90deg);
    }
}

.hero-carousel > .scroll.left { transform: rotate(90deg); }
.hero-carousel > .scroll.right { transform: rotate(-90deg); }
.hero-carousel > .scroll.left:not(.disabled):hover { animation: scroll-left 1.25s ease infinite; }
.hero-carousel > .scroll.right:not(.disabled):hover { animation: scroll-right 1.25s ease infinite; }

.hero-carousel > .hero-card {
    position: absolute;
    left: calc(50% - 6rem);
    width: 12rem;
    height: 18rem;
    border-radius: .75rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background: linear-gradient(to bottom, #656c58 5%, #55523d 95%);
    outline: 2px solid #99ff0038;
    outline-offset: -.5rem;
    transition: opacity 0.2s ease;
    padding: 1rem;
}

.hero-card > .name {
    font-size: 1.25rem;
    font-weight: bold;
    color: #effff2;
    line-height: 1.5rem;
    padding-top: .125rem;
}

.hero-card > .image {
    width: 10rem;
    height: 8rem;
    flex: unset;
    align-self: center;
    border: none;
    background: #03150111;
}

.hero-card > .description {
    color: #cdead3;
    font-size: .65rem;
    word-break: break-word;
    hyphens: auto;
    overflow-wrap: break-word;
}

/*---------------------------------------Combat-----------------------------------------*/
.banner.combat {
    flex-direction: row;
    gap: 4.5rem;
}

.combat > .proceed-btn {
    visibility: visible;
    position: unset;
    z-index: 1;
    transition: opacity .25s ease;
}

.player1.combat, .player2.combat {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
    background: none;
}

.combat > .sprite {
    position: unset;
    transform: scale(2);
    filter: drop-shadow(0 0 1rem blanchedalmond);
}

.combat > .sprite.player2 { transform: scale(-2, 2); }

.combat-holders {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 8rem;
    align-items: flex-start;
}

.player1 > .combat-holders :nth-child(2), .player2 > .combat-holders *:nth-child(odd) {
    align-self: flex-end;
}

.combat-holder {
    width: 5rem;
    aspect-ratio: 1 / 1;
    border-radius: 2.5rem;
    display: flex;
}

.combat-holder.player1::after {
    content: "";
    position: absolute;
    margin-left: 6rem;
    margin-top: 1.8rem;
    width: 18.3rem;
    height: .5rem;
    background: repeating-linear-gradient(
        to right,
        blanchedalmond 0,
        blanchedalmond 1.25rem,
        transparent 1.25rem,
        transparent 1.85rem);
    
    pointer-events: none;
}

.player1 > .combat-holders :nth-child(2)::after { width: 12.3rem; }

.combat-holder.player1 {
    background: #1f80da80;
    border: .3rem solid var(--p1-col);
}

.combat-holder.player2 {
    background: #be2e0e80;
    border: .3rem solid var(--p2-col);
}

.combat-holder:hover {
    border: .3rem solid blanchedalmond;
}

.sword, .shield {
    margin: auto;
    aspect-ratio: 1 / 1;
}

.sword.dragging, .shield.dragging {
  position: fixed !important;
  pointer-events: none;
}

.sword {
    background-image: url("./assets/Sword.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 4rem;
}

.shield {
    background-image: url("./assets/Shield.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 3rem;
}